@import "bulma"

html#front
  body
    font-family: YuGothic, "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "Meiryo", "MS PGothic", Helvetica, Arial, sans-serif
    background-color: #fff

  .columns.is-fullheight
    margin-bottom: 0

  .footer
    margin-top: -10px

  .left-side .hero-body
    background-color: #999
    background-image: url('https://hd.unsplash.com/photo-1457365050282-c53d772ef8b2')
    -ms-background-position-x: center
    -ms-background-position-y: bottom
    background-position: center bottom
    background-size: cover
    .title
      color: #fff
      font-weight: lighter

  .nav-item img.logo
    max-height: 20px

  .pagination
    justify-content: center
    padding: 20px 0px
    .page, .next, .last, .first, .prev
      min-width: 32px
      padding: 3px 8px
    .current
      min-width: 32px
      padding: 3px 8px
      color: #bbbbbb
      border-bottom: 1px solid #bbbbbb

  .article
    .container
      padding: 40px 30px
      .column
        padding: 40px 30px
    .article-timestamp
      font-weight: bold
    .article-title
      font-size: 30px
      font-weight: bold
    .article-summary
      font-size: 18px
      font-weight: lighter
      line-height: 1.5

  .section-in
    text-align: center
    .section-title
      font-size: 24px
    .contact-intro
      padding: 40px

  article.article
    h2
      background-color: #e6e6e6
      font-size: 22px
      font-weight: bold
      padding: 15px 20px
      border-radius: 8px
      margin-top: 60px
      margin-bottom: 30px
    h3
      border-top: 1px solid
      border-bottom: 1px solid
      font-weight: bold
      font-size: 16px
      margin-bottom: 30px
      padding: 16px 32px
    a
      color: #268bd2
    p
      margin-bottom: 30px
      font-size: 15px
      line-height: 1.6
    strong
      font-size: 15px
